.news {
    padding-top: 50px;
    &Header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        h3{
            font-size: 26px;
        }
        input {
            font-size: 26px;
        }
    }
    
}
.NewsItems{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}