.Container {
    margin-top: 50px;
    margin-bottom: 70px;
    .news {
        &Header{
            margin: 0 calc(50% - 600px);
            display: flex;
            align-items: center;
            justify-content: space-between;
            h3{
                font-size: 26px;
            }
            input {
                font-size: 26px;
            }
            .unpublished{
                font-size: 24px;
                color: #000;transition: all 0.2s;
                &:hover{
                    transition: all 0.2s;
                    transform: scale(1.05);
                }
            }
        }
        
    }
    .NewsItems{
        display: grid;
        gap: 50px;
        margin: 0 calc(50% - 600px);
    }
}