.container {
  cursor: pointer;
  border: 1px solid #000;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  
  .text {

  }
  .Tags {
    margin-top: 15px;
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    gap: 10px;
    .TagItem {
      padding: 5px;
      border: 1px solid rgba(0, 0, 0, 0.7);
      border-radius: 3px;
    }
  }
  .title {
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    padding-bottom: 115px;
  }
  .date {
    font-weight: bold;
    span {
      font-weight: normal;
    }
  }
}
