.Container {
    border: 1px solid #000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    position: relative;

    .text {
  
    }
    .Tags {
      margin-top: 15px;
      display: grid;
      grid-auto-flow: column;
      justify-content: flex-start;
      gap: 10px;
      .TagItem {
        padding: 5px;
        border: 1px solid rgba(0, 0, 0, 0.7);
        border-radius: 3px;
      }
    }
    
    .date {
      font-weight: bold;
      span {
        font-weight: normal;
      }
    }
    .BlockBtn {
        position: absolute;
        right: 0.5%;
        top: 5%;
        display: grid;
        grid-auto-flow: column;
        gap: 20px;
        .BtnItem {
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }
        .BtnActive {
            background-color: gray;
            path {
                fill: green;
            }
        }
        .BtnItem:hover {
            transform: scale(1.1);
        }
    }
  }
  .title {
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    padding-bottom: 115px;
  }
  .descr{
    font-size: 20px;
    padding-bottom: 30px;
  }