.container {

  margin: 50px calc(50% - 600px);
  display: grid;
  gap: 40px;

  .Btn {
    cursor: pointer;
    justify-self: center;
    border-radius: 10px;
    font-weight: 500;
    border: solid 3px rgb(83, 55, 55);
    padding: 15px;
    font-size: 32px;
    color: #000;
    line-height: 20px;
    transition: all 0.3s ease-in-out;
  }
  .Btn:hover {
    transform: scale(1.05);
  }
}
