.Container {
    position: relative;
    display: grid;
    justify-items: center;
    grid-template-rows: 80px 250px;
    grid-template-columns: repeat(3, 1fr);

    margin: 0 calc(50% - 600px);
    padding: 20px 50px;
    border: 3px solid rgba(0, 0, 0, 0.7);
    border-radius: 5px;

    .Title {
        align-self: center;
        grid-column: 1 / 4;
        font-weight: 600;
        font-size: 36px;
        line-height: 43px;
        color: #181818;
    }
    .BlockTeam {
        display: grid;
        justify-items: center;
        align-content: center;
        .Name {
            font-size: 40px;
            line-height: 47px;
            color: #181818;
        }
    }
    .Block {
        display: grid;
        .Date {
            display: grid;
            border: 1px solid rgba(0, 0, 0, 0.4);
            border-radius: 6px;
            padding: 10px 30px;
            justify-items: center;
            .DateItem {
                font-weight: 500;
                font-size: 48px;
                color: #181818;
            }
            .DateText {
                font-weight: 500;
                font-size: 24px;
                line-height: 28px;
                color: #181818;
            }
        }
        .Сheck, .Time, .TimeLeft {
            display: grid;
            align-items: center;
            justify-items: center;
            font-weight: 500;
            font-size: 48px;
            line-height: 57px;
            color: #181818;
        }
        .Time {
            background-color: rgba(255, 0, 0, 0.4);
            border: 1px solid rgba(0, 0, 0, 0.4);
            border-radius: 6px;
        }
        .TimeLeft {
            border-radius: 6px;
            border: 1px solid rgba(0, 0, 0, 0.4);
        }
    }
    .BlockBtn {
        position: absolute;
        right: 0.5%;
        top: 5%;
        display: grid;
        grid-auto-flow: column;
        gap: 20px;
        .BtnItem {
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }
        .BtnActive {
            filter: invert(75%);
        }
        .BtnItem:hover {
            transform: scale(1.1);
        }
    }
}